// ion-item{
//     --background: #dde5f3;
//     --color: rgb(0, 0, 0);
// }

ion-button{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    --border-color: rgb(13,6,81);
    color:rgb(13,6,81);
}

.inputitem{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

ion-label{
    text-align: center;
}